.timer {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__time {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    color: #13334c;
  }

  &__button {
    outline: none;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 1rem;
    color: #fff;
    background: #13334c;
    transition: background 0.1s;
    cursor: pointer;

    &:hover {
      background: darken(#13334c, 5%);
    }

    &:disabled {
      background: #919191;
    }
  }
}
