.field {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 100%;
}

@media screen and(max-width: 1024px) {
  .field {
    grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
  }
}
