.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #eee;
  border-radius: 5px;
  width: 150px;
  height: 250px;
  transform: perspective(1000px) rotateY(0);
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  user-select: none;

  &__front {
    color: #fff;
    background: rgb(151, 40, 40);
  }

  &__back {
    background: rgb(40, 151, 55);
    transform: rotateY(180deg);

    i {
      font-size: 5rem;
    }
  }

  &_flip {
    transform: rotateY(180deg);
  }

  &__front,
  &__back {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
}
