.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 150px;
  height: 250px;
  transform: perspective(1000px) rotateY(0);
  transform-style: preserve-3d;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #eee;
  transition: 150ms;
  user-select: none;

  &__front,
  &__back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  &__front {
    background: rgb(151, 40, 40);
    color: #fff;
  }

  &__back {
    transform: rotateY(180deg);
    background: rgb(40, 151, 55);

    i {
      font-size: 5rem;
    }
  }

  &_flip {
    transform: rotateY(180deg);
  }
}
